@{
    ViewBag.Title = "About Regis University";
}
<h2>@ViewBag.Title.</h2>

<h3>Welcome to Regis University Driver Application Website</h3>

<p>This is the official Regis University Driver Application Site.<p>
   
 <p>All students, faculty, volunteers, and university employees that wish to drive for the university must complete an application. The application must be approved by the Department of
   Auxiliary and Business Services prior to driving for the university.</p>
