@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Regis University Driver Application Administration Page</h2>
</div>
<div class="row">
    <div class="col-md-9">
        <h3>Welcome to the Driver Application Administration Page</h3>

            
            <p>
                The following activities can be performed from this page.
            </p>

            <p>

                <br />
            </p>

            <p>
                Authorized users can:
            </p>
            
            <p>
                - View, edit, and appove driver applications
            </p>

            <p>
                - View the report of all applications
            </p>

            <p>
                - View the report of all the current drivers
            </p>

            <p>
                - View the report of all the current supervisors
            </p>
</div>
 </div>